<%- include("partials/header") -%>

<div class="heading">
    <a href="/user/<%= username %>" style="text-decoration: none;">
        <h1><%= username %></h1>
    </a>
    
</div>
<input type="hidden" id="userProfile" value="<%= username %>"></input>
<input type="hidden" id="userId" value="<%= id %>"></input>
<div class="content"  >
    
   <div class="backgroundDiv" >
       <div class="chatBox" id="chatBox">
       
       

       
       </div>
       <div class="input-message" >
           <form method="post" onsubmit="return doSendMessage(this);" style="display: flex;" >
            <textarea name="message" id="" cols="90" rows="2" style="outline: none; margin: 10px; border-radius: 10px;" placeholder="">

            </textarea>
            <button type="submit" style="width: 100px;">
                Send
            </button>
           </form>
       </div>
   </div>
    
    
</div>


<script>
    var isMessageBox=true;

    
</script>

<%- include("partials/footer") -%>